[submodule "external/TempoApp"]
	path = external/TempoApp
	url = https://github.com/jokteur/TempoApp.git
[submodule "external/microtex/microtex"]
	path = external/microtex/microtex
	url = https://github.com/jokteur/MicroTeX
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
