[submodule "external/TempoApp"]
	path = external/TempoApp
	url = git@github.com:jokteur/TempoApp.git
[submodule "external/microtex/microtex"]
	path = external/microtex/microtex
	url = git@github.com:jokteur/MicroTeX
